.theBox {
	width: 580px;
	height: 580px;
    border-style: 2px solid;
    border-color: gold;
    background: rgb(239, 209, 28);
    margin-left: 349px;
    margin-bottom: 90px;
    opacity: .94;

}

.allCellsAlways {
    width: 187px;
	height: 187px;
	display: inline-block;
    float: left;
    margin: 0px ;
    padding: 0px ;
    border-style: solid;
    border-color: rgb(240, 48, 82);
    
}

.allCellsAlways:hover {
    background-color: #64c194 ;
}

.scratchyclass {
    background: url("images/Scratchy2.png");
    background-size: 189px 189px;
    

}

.itchyclass {
    background: url(images/Itchy2.png);
    background-size: 191px 191px;

}

.blankclass {
	background-color: gray ;
}

body {
    height: 80%;
    background: url(images/dibujos-simpsons.jpg);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: green;

}

body {
    background-color: rgb(239, 209, 28);
}



h1 {
    color: rgb(239, 47, 79);
    text-align: center;
    font-family: 'Nosifer', cursive;
    font-size: 40px;
    text-shadow: 3px 2px black;
    font-style: strong;
    margin-bottom: 8px;

}

.button {
    color: #900;
    font-weight: bold;
    font-size: 250%;
    text-transform: uppercase;
    text-shadow: 1px 1px black;


}