<!DOCTYPE html>
<html ng-app="notesApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body ng-controller="MainCtrl as mainCtrl">
<h1>Hello Controllers!</h1>
<button ng-click="mainCtrl.open('first')">Open First</button>
<button ng-click="mainCtrl.open('second')">Open Second</button>
<div ng-switch="mainCtrl.tab">
    <div ng-switch-when="first">
        <div ng-controller="SubCtrl as ctrl">
            <h3>First Tab</h3>
              <ul>
                  <li ng-repeat="item in ctrl.list">
                      <span ng-bind="item.label"></span>
                  </li>
              </ul>
            <button ng-click="ctrl.add()">Add More items</button>
        </div>
    </div>
    <div ng-switch-when="second">
        <div ng-controller="SubCtrl as ctrl">
            <h3>Second Tab</h3>
            <ul>
                <li ng-repeat="item in ctrl.list">
                    <span ng-bind="item.label"></span>
                </li>
            </ul>
            <button ng-click="ctrl.add()">Add More items</button>
        </div>
    </div>
</div>

<script src="../js/angular.min.js"></script>
<script src="../js/services.js"></script>
</body>
</html>